.create {
  min-height: 100vh;
  background: #f5f6fa;
  padding: 32px;
  box-sizing: border-box;

  .create-btn {
    margin-top: 60px;
    width: 100%;
    background: #f0b429;
    color: #1a2238;
    font-size: 34px;
    font-weight: 600;
    border-radius: 48px;
  }
}
